<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>パスワード変更</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<!-- <script th:inline="javascript">
var serverContext =[[@{/}]];
$(document).ready(function () {
    $('form').submit(function(event) {
        savePass(event);
    });
});

function savePass(event){
    event.preventDefault();
    if($("#password").val() != $("#matchPassword").val()){
        $("#globalError").show().html(/** [[#{PasswordMatches.user}]]** /);
        return;
    }
    var formData= $('form').serialize();
    $.post(serverContext + "user/savePassword",formData ,function(data){
        window.location.href = serverContext + "login?message="+data.message;
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("InternalError") > -1){
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
        else{
            var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
                $("#globalError").show().html(item.defaultMessage);
            });
            errors = $.parseJSON(data.responseJSON.error);
            $.each( errors, function( index,item ){
                $("#globalError").show().append(item.defaultMessage+"<br/>");
            });
        }
    });
}
</script> -->
</head>
<body>
<div class="container">
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
				<h1>パスワード変更画面</h1>
			</div>
		</div>
		<!-- login form -->
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
				<div class="well">
				<form method="post" th:action="@{/student/savePassword}">
				<fieldset>
				<div class="form-group">
                  <label>新しいパスワード</label>
                  <input id="password" name="newPassword" type="password" value=""/>
                </div>
                <div class="form-group">
                  <label>確認用パスワード</label>
                  <input id="matchPassword" name="confirmNewPassword" type="password" value=""/>
                </div>
                <div class="form-group">
                  <button type="submit">送信</button>
                </div>
                  </fieldset>
               </form>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>