<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>学習サポートシステム</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<script>
var serverContext =[[@{/}]];
function resetPass(){
	var email = $('#email').val();
	$.post(serverContext + "instructor/instructor_resetPassword",{email: email} ,
		      function(data){
		          window.location.href =
		           serverContext + "login?message=" + data.message;
		    })
		    .fail(function(data) {
		        if(data.responseJSON.error.indexOf("MailError") > -1)
		        {
		            window.location.href = serverContext + "emailError.html";
		        }
		        else{
		            window.location.href =
		              serverContext + "login?message=" + data.responseJSON.message;
		        }
    });
}
</script>
</head>
<body>
<div class="container">
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
				
			</div>
		</div>
		<!-- login form -->
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
				<div class="well">
					<form th:action="@{/company/companyMember_resetPassword}" method="post">
						<fieldset>
							<legend>パスワード再設定 </legend>
							<div class="form-group">
								<label for="inputEmail">Email:</label> 
								<input type="text" name="email" id="email" class="form-control"
									placeholder="Email">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary" onClick="resetPass()">Send</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>